@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}

.container {
  max-width: 1288px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 5px 2px 15px 2px rgb(208, 209, 208);
          box-shadow: 5px 2px 15px 2px rgb(208, 209, 208);
  background-color: #fff;
}
.navbar img {
  width: 100%;
}
.navbar__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1080px) {
  .navbar__contents .navbar__logo .mobile__logo {
    display: none;
  }
}
.navbar__contents .navbar__logo .desktop__logo {
  display: none;
  max-width: 152px;
  width: 100%;
  height: 32px;
}
@media (min-width: 1080px) {
  .navbar__contents .navbar__logo .desktop__logo {
    display: block;
  }
}
.navbar__contents .navbar__toggle {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
  width: 140px;
  outline: none;
  border: none;
  border-radius: 4px;
  background: var(--Main-Secondary, #89df74);
}
.navbar__contents .navbar__toggle img {
  width: 24px;
}
@media (min-width: 768px) {
  .navbar__contents .navbar__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
  }
}
@media (min-width: 1080px) {
  .navbar__contents .navbar__toggle {
    width: 140px;
  }
}
.navbar__contents .navbar__toggle h3 {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
@media (min-width: 1080px) {
  .navbar__contents .navbar__toggle h3 {
    display: block;
  }
}
.navbar__contents .navbar__toggle:hover {
  -webkit-box-shadow: 10px 5px 5px 5px rgb(86, 234, 86);
          box-shadow: 10px 5px 5px 5px rgb(86, 234, 86);
}
.navbar__contents .navbar__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  max-width: 360px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70C05B);
  background: var(--Main-Surface, #FFF);
}
.navbar__contents .navbar__search input {
  padding: 8px;
  width: 182px;
  border: none;
  outline: none;
  font-size: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 500) {
  .navbar__contents .navbar__search input {
    max-width: 360px;
  }
}
.navbar__contents .navbar__search button {
  border: none;
  background-color: #fff;
}
.navbar__contents .navbar__menus {
  display: none;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.navbar__contents .navbar__menus img {
  width: 24px;
}
@media (min-width: 768px) {
  .navbar__contents .navbar__menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar__contents .navbar__menus a {
  display: inline-block;
  text-align: center;
  position: relative;
}
.navbar__contents .navbar__menus a span {
  position: absolute;
  top: -5px;
  right: 18px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 8px;
}
.navbar__contents .navbar__menus a p {
  color: var(--Main-onSurface, #414141);
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.navbar__contents .navbar__personal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .navbar__contents .navbar__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar__contents .navbar__personal img {
  width: 40px;
}
.navbar__contents .navbar__personal h4 {
  margin-right: 12px;
  font-family: Rubik;
  display: none;
  color: var(--onSurface, #232323);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 1080px) {
  .navbar__contents .navbar__personal h4 {
    display: inline-block;
  }
}
.navbar__contents .down {
  display: none;
}
@media (min-width: 1080px) {
  .navbar__contents .down {
    display: inline-block;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

footer img {
  width: 100%;
}
footer .footer__top {
  padding-bottom: 70px;
  background: var(--Main-BGPage, #FBF8EC);
}
@media (min-width: 770px) {
  footer .footer__top {
    padding-bottom: 0px;
  }
}
footer .footer__top img {
  width: 100%;
}
footer .footer__top .footer__medias {
  padding: 40px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__top .footer__medias .social__medias img {
  width: 24px;
}
@media (min-width: 790px) {
  footer .footer__top .footer__medias .social__medias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1240px) {
  footer .footer__top .footer__medias .social__medias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
footer .footer__top .footer__medias .social__medias .medias {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
footer .footer__top .footer__medias .social__medias .medias img {
  width: 100%;
  max-width: 24px;
}
@media (min-width: 780px) {
  footer .footer__top .footer__medias .social__medias .medias {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}
@media (min-width: 1240px) {
  footer .footer__top .footer__medias .social__medias .medias {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
footer .footer__top .footer__medias .tel .footer__dizayn {
  display: none;
}
@media (min-width: 780px) {
  footer .footer__top .footer__medias .tel .footer__dizayn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
footer .footer__top .footer__medias .tel .footer__dizayn .zasoviskiy {
  margin-top: -30px;
  width: 100%;
  max-width: 100px;
}
footer .footer__top .footer__medias .tel .footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
footer .footer__top .footer__medias .tel .footer__tel p {
  font-size: 10px;
}
@media (min-width: 410px) {
  footer .footer__top .footer__medias .tel .footer__tel p {
    font-size: 20px;
  }
}
@media (min-width: 780px) {
  footer .footer__top .footer__medias .tel .footer__tel p {
    font-size: 12px;
  }
}
@media (min-width: 898px) {
  footer .footer__top .footer__medias .tel .footer__tel p {
    font-size: 16px;
  }
}
@media (min-width: 1100px) {
  footer .footer__top .footer__medias .tel .footer__tel p {
    font-size: 20px;
  }
}
footer .footer__top .footer__medias .tel .footer__tel img {
  width: 100%;
  max-width: 24px;
  margin-top: -30px;
}
footer .footer__top .footer__medias .footer__smile {
  width: 100%;
  width: 44px;
  height: 34px;
}
@media (min-width: 410px) {
  footer .footer__top .footer__medias .footer__smile {
    width: 94px;
    height: 64px;
  }
}
footer .footer__top .footer__infos2 {
  display: none;
}
@media (min-width: 780px) {
  footer .footer__top .footer__infos2 {
    display: block;
  }
}
@media (min-width: 1240px) {
  footer .footer__top .footer__infos2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 780px) {
  footer .footer__top .footer__infos1 {
    display: none;
  }
}
footer .footer__top .footer__infos {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
footer .footer__top .footer__infos li {
  list-style: none;
}
footer .footer__top .footer__infos li a {
  color: black;
  padding-left: 10px;
  color: #606060;
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 334px) {
  footer .footer__top .footer__infos li a {
    font-size: 10px;
  }
}
@media (min-width: 380px) {
  footer .footer__top .footer__infos li a {
    font-size: 12px;
  }
}
footer .footer__top p {
  padding-left: 10px;
  font-family: Rubik;
  padding-bottom: 30px;
}
footer .footer__bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  footer .footer__bottom {
    display: none;
  }
}
footer .footer__bottom .navbar__menus {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 780px) {
  footer .footer__bottom .navbar__menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
footer .footer__bottom .navbar__menus a {
  display: inline-block;
  text-align: center;
  position: relative;
}
footer .footer__bottom .navbar__menus a span {
  position: absolute;
  top: -5px;
  right: 18px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 8px;
}
footer .footer__bottom .navbar__menus a p {
  color: var(--Main-onSurface, #414141);
  text-align: center;
  font-size: 8px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
footer .footer__bottom .navbar__menus a img {
  width: 24px;
}